.view
{
	position: relative;
	color: inherit;
	background-color: inherit;
	box-sizing: border-box;

	&.absolute { position: absolute; }
	&.fixed { position: fixed; }

	&.fill
	{
		width: 100%;
		height: 100%;
	}
	
	&.centered
	{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&.centered-horizontal
	{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	&.centered-vertical
	{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}